@import url('navbar.css');
@import url('grid.css');

body {
    background-color: black;
}

/* * {
    color: white;
} */

body {
    background-color: black;
}

a {
    text-decoration: none;
}

/* a:visited {
    color: white;
} */

p, h1, h2, h3, h4, h5 {
    color: white;
}

body>:not(aside) a:visited {
    color: white;
}

body>:not(aside) a:active {
    color: white;
}

footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: rgb(10, 10, 10);
    position: fixed;
    bottom: 0;
    left: 0;
}

footer p {
    margin: .37rem;
}