.grid {
  display: grid;
  gap: .1rem;
  grid-template-rows: masonry;
  grid-template-columns: repeat(4, 1fr);
}

.grid-item {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
}

.grid-item > img {
  grid-row: 1 / -1;
  grid-column: 1;
  max-width: 100%;
  display: block;
}